* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root{
    --color-footer-bottom-page: grey;
    --main-content-color: blue;
    --header-top-page-color: darkblue;
    --menu-color: black;
}

html {
    font-family: 'Open Sans', sans-serif;
    font-family: 'Roboto', sans-serif;
    /* color: white; */
}

a {
    text-decoration: none;
}

/* UTILITY */


.flex {
    display: flex;
}

.vh10 {
    height: 10vh;
}


/* header */

.header-top-page {
    background-color: var(--header-top-page-color);
    justify-content: flex-end;
    align-items: center;

}

.header-top-page .btn-header {
    border: 1px solid white;
    border-radius: 10px;
}




/* menu laterale */

.menu-main {
    background-color: var(--menu-color);
    width: 50px;
    height: 90vh;
    position: absolute;
    top: 0;
    left: 0;
}