* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root{
    --color-footer-bottom-page: grey;
    --main-content-color: blue;
    --header-top-page-color: rgba(0, 0, 139, .5);
    --menu-color: black;
}

html {
    font-family: 'Open Sans', sans-serif;
    font-family: 'Roboto', sans-serif;
    /* color: white; */
}

a {
    text-decoration: none;
}

/* UTILITY */


.flex {
    display: flex;
}



/* header */

.header-top-page {
    background-color: var(--header-top-page-color);
    justify-content: flex-end;
    align-items: center;
    height: 4rem;

}

.header-top-page .btn-header {
    border: 1px solid white;
    border-radius: 10px;
}




/* menu laterale */

.menu-main {
    background-color: var(--menu-color);
    width: 50px;
    height: calc(100vh - 4rem);
    position: absolute;
    top: 0;
    left: 0;
}



/* main content */


.content-main {
    background-color: var(--main-content-color);
    height: calc(100vh - 8rem);

}



/* footer */

.footer-bottom-page {
    background-color: var(--color-footer-bottom-page);
    height: 4rem;
    flex-wrap: wrap;
}